<footer class="container-fluid small border-top pt-5 mt-auto">
  <div class="container">
    <div class="row">
      <div class="col d-flex flex-column mb-5 col-lg-4">
        <p class="mb-2 fw-bold">Thanks for stopping by!</p>
        <p class="text-muted">&copy; 2014-{{ "now" | date: "%Y" }}
          Johnathan Lyman. All Rights Reserved. Content on this site is licensed
          under the <a rel="license"
            href="http://creativecommons.org/licenses/by/4.0/">Creative Commons
            4.0 License</a>. Code samples and snippets are licensed under the <a
            rel="license"
            href="https://github.com/johlym/johnathan-org/blob/main/LICENSE.md"
            target="_blank">MIT License</a></p>
        <p class="text-muted ">Built with <a href="https://bridgetownrb.com"
            target="_blank">Bridgetown</a>. Feed: <a href="/feed.xml"><i class="far fa-rss"></i></a> <a href="/feed.json"><i class="far fa-brackets-curly"></i></a></p>
      </div>
      <div class="col d-flex flex-column mb-5 col-lg">
        <p class="mb-2 fw-bold">Site Statistics</p>
          <ul class="px-0 list-unstyled">
            <li>{% total_posts %} posts</li>
            <li>{% total_post_words %} total words</li>
            <li>{% total_post_words_average %} words/post (avg)</li>
            <li></li>
          </ul>
      </div>
      <div class="col d-flex flex-column mb-5 col-lg">
        <p class="mb-2 fw-bold">Site Links</p>
        <ul class="px-0 list-unstyled">
          {% for item in nav %}
          <li><a class="text-muted fw-normal mb-2" rel="noopener"
              href="{{ item.path }}">{{ item.name }}</a></li>
          {% endfor %}
          <li><a class="text-muted fw-normal mb-2" rel="noopener"
              href="/sitemap.xml">Sitemap</a></li>
          <li><a class="text-muted fw-normal mb-2" rel="noopener"
              href="/privacy/">Privacy Policy</a></li>
        </ul>


      </div>
      <div class="col d-flex flex-column mb-5 col-lg">
        <p class="mb-2 fw-bold">Elsewhere</p>
        <ul class="px-0 list-unstyled">
          {% for item in nav2 %}
          <li><a class="text-muted fw-normal mb-2 d-inline" rel="noopener"
              href="{{ item.path }}" target="_blank">{{ item.name }}</a></li>
          {% endfor %}
        </ul>
          <li><a class="text-muted fw-normal mb-2 d-inline" rel="me" href="https://ruby.social/@johlym">Mastodon @ruby.social</a></li>
          <li><a class="text-muted fw-normal mb-2 d-inline" rel="me" href="https://herokai.cafe/@johnathan">Mastodon @herokai.cafe</a></li>
      </div>
    </div>
    <div class="row">
      <div class="col flex-column mb-1 col-md-6">
        <div class="d-flex flex-column justify-content-start align-items-start">
          <div class="m-0">

          </div>
        </div>
      </div>
    </div>
  </div>
</footer>