<div>
  <h3>
    <a class="text-dark text-decoration-none fw-700"
      href="{{ post.relative_url }}">{{ post.title }}</a>
  </h3>
  <p>
    {% if post.excerpt %}
    {{ post.excerpt }}
    {% else %}
    {{ post.content | strip_html | truncatewords:30 }}
    {% endif %}
  </p>
  <p class="small text-muted fw-600 my-0">
    {{ post.date | date: "%B %d, %Y"}} •
    {{ post.content | number_of_words }} words •
    {{ post.content | reading_time }} minute(s)
  </p>
</div>