<small>
{% assign d = post.date | date: "%-d" %}
<time datetime="{{ post.date | date: "%Y-%m-%d" }}">{{ post.date | date: "%A, %B %-d, %Y" }}</time> • filed under <a href="/categories/{{page.category | slugify }}{{post.category | slugify }}/">{{ page.category | lowercase}}{{ post.category | lowercase }}</a> • <a href="{{ post.url }}">permalink</a>
</small>